/* Declaring some common styles*/
.auto {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.alignItemsCenter {
  align-items: center;
}

.justContentCenter {
  justify-content: center;
}

.justContentSpaceBtw {
  justify-content: space-between;
}

.center {
  text-align: center;
}

/************/

.container {
  @extend .flexCol;
  @extend .alignItemsCenter;
  height: 100vh;
  background: var(--dark-100);
  padding-top: 5rem;
  gap: 3rem;
  width: 100%;

  .imgContainer {
    @extend .center;
    width: 60vw;
    img {
      max-width: 80%;
    }

    .pretext {
      margin: 1rem;
      font-style: italic;
      color: antiquewhite;
    }
  }

  .formDiv {
    // @extend .auto;
    @extend .flexCol;
    @extend .alignItemsCenter;
    // margin: 0 auto;

    .title {
      font-size: 2rem;
      color: var(--white);
      // margin-bottom: 1rem;
    }

    .form {
      @extend .flexCol;
      gap: 0.5rem;
      width: 80%;
      margin-top: 3rem;

      .input {
        border: 0.68px solid var(--light-200);
        height: 45px;
        width: 100%;
        background: white;
        border-radius: 10px;
        padding: 1rem;
        color: var(--dark-100);
        caret-color: var(--dark-100);
        
        &::placeholder {
          color: var(--dark-100);
        }
  
        &:focus {
          border: 0.68px solid var(--light-50);
          outline: none;
        }
      }

      .btn {
        background: var(--dark-50);
        color: var(--white);
        border: none;
        font-weight: 700;
        width: 100%;
        margin: 0.25rem auto 0;
        border-radius: 10px;
        padding: 1rem;
        cursor: pointer;
        transition: 0.3s;
  
        .spinner {
          transition: 0.3s;
        }
  
        &:active .spinner {
          transform: rotate(360);
        }
  
        &:hover {
          color: var(--light-100);
        }
  
        &:active {
          transform: scale(0.95);
          color: var(--white);
          opacity: 0.8;
        }
      }
    }

    .link {
      color: var(--white);
      align-self: center;
      margin-top: 0.5rem;

      a {
        color: var(--light);
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: var(--white);
        }
      }
    }
  }

  .success {
    position: absolute;
    @extend .flexCol;
    @extend .justContentCenter;
    width: 70vw;
    height: 100vh;
    background-color: var(--white);
    z-index: 60000;
    color: var(--darkGreen);
    text-align: center;
    gap: 1rem;

    a {
      color: var(--darkGreen);
      text-decoration: underline;

      padding-top: 2rem;
      font-size: 0.85rem;
      transition: 0.3s;

      &:hover {
        color: var(--darkGreen);
      }
    }
  }

  @media screen and (min-width: 768px) {

    .formDiv {
      // background-color: var(--white);
      min-width: 70vw;
      // height: 100vh;
      justify-content: center;

      .form {
        width: 40%;
        margin-top: 2rem;

        .input {
          border: 0.68px solid var(--light-200);
        }
  
        .btn {
          background: var(--dark-50);
          color: var(--white);
        }
      }
    } 
  }
}